<%= form_for @department, :url => admin_departments_path do |form| %>
	<% if @department.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@department.errors.count, "error") %> prohibited
        this department from being saved:
      </h2>
      <ul>
        <% @department.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit "submit", class: "btn btn-success btn-sm pull-right" %>
  </div>
<% end %>