<%= form_for @increament, :url => admin_increament_path do |form| %>
  <% if increament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(increament.errors.count, "error") %> prohibited this admin_increament from being saved:</h2>

      <ul>
      <% increament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%#= form.select :employee_id, Employee.all.map{|e| [e.user_name, e.id]}, class: "btn dropdown-toggle btn-default" %>
  </div>

  <div class="field">
    <%= form.label :designation_id %>
    <%= form.select :designation_id, Designation.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
  </div>

  <div class="field">
    <%= form.label :current_salary %>
    <%= form.text_field :current_salary, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :increament_salary %>
    <%= form.text_field :increament_salary, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-success btn-sm pull-right" %>
  </div>
<% end %>
