<%= form_for @designation, :url => admin_designations_path do |form| %>
  <% if @designation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@designation.errors.count, "error") %> prohibited
        this designation from being saved:
      </h2>
      <ul>
        <% @designation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"  %>
  </div>

  <div class="field">
    <label class="control-label">Select Department</label>
    <%= form.select :department_id, Department.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
    <%#= form.collection_select(:admin_department_id, Admin::Department.all, :id, :name, {:prompt   => "Select a Model"}, {:id => 'models_select'}) %>
  </div><br>

  <div class="actions">
    <%= form.submit "ADD", class: "btn btn-success btn-sm pull-right" %>
  </div>
<% end %>

