<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evaluation.description %>
</p>

<%= link_to 'Edit', edit_admin_evaluation_path(@evaluation) %> |
<%= link_to 'Back', admin_evaluations_path %>
