<%= form_for @salslip, :url => admin_salslips_path do |form| %>
  <% if @salslip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salslip.errors.count, "error") %> prohibited this salslip from being saved:</h2>

      <ul>
      <% salslip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-body">
    <div class="field">
      <%= form.label :employee_id %>
      <%#= form.select :employee_id, Employee.all.map{|e| [e.user_name, e.id]}, class: "btn dropdown-toggle btn-default" %>
    </div>

    <div class="field">
      <%= form.label :department_id %>
      <%= form.select :department_id, Department.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
    </div>

    <div class="field">
      <%= form.label :designation_id %>
      <%= form.select :designation_id, Designation.all.map{|d| [d.name, d.id]}, class: "btn dropdown-toggle btn-default" %>
    </div>

    <div class="field">
      <%= form.label :basic_salary %>
      <%= form.text_field :basic_salary, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :payment_by %>
      <%= form.text_field :payment_by, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :tax %>
      <%= form.text_field :tax, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :provident_fund %>
      <%= form.text_field :provident_fund, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :loan %>
      <%= form.text_field :loan, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :Leave_deduction %>
      <%= form.text_field :Leave_deduction, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :grand_total %>
      <%= form.text_field :grand_total, class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer">
        <input type="hidden" name="_token" value="LypliyuC3SOSDwNkDSb5qXWJI2ZXxaLb0KeBm20u">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit "Add", class: "btn btn-primary" %>
    </div>
<% end %>
