<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @bank.branch_name %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @bank.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank.account_number %>
</p>

<p>
  <strong>Ifsc code:</strong>
  <%= @bank.ifsc_code %>
</p>

<p>
  <strong>Pan number:</strong>
  <%= @bank.pan_number %>
</p>

<%= link_to 'Edit', edit_admin_bank_path(@bank) %> |
<%= link_to 'Back', admin_banks_path %>
