<p id="notice"><%= notice %></p>

<h1> Task Files</h1>

<table>
  <thead>
    <tr>
      <th>Attachment</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_files.each do |task_file| %>
      <tr>
        <td><%= task_file.attachment %></td>
        <td><%= task_file.employee_id %></td>
        <td><%= link_to 'Show', admin_task_file_path(task_file) %></td>
        <td><%= link_to 'Edit', edit_admin_task_file_path(task_file) %></td>
        <td><%= link_to 'Destroy', admin_task_file_path(task_file), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task File', new_task_file_path %>
