<p id="notice"><%= notice %></p>

<p>
  <strong>Designation:</strong>
  <%= @jobapp.designation_id %>
</p>

<p>
  <strong>Number of post:</strong>
  <%= @jobapp.number_of_post %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @jobapp.job_type %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @jobapp.experience %>
</p>

<p>
  <strong>Age:</strong>
  <%= @jobapp.age %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @jobapp.job_location %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @jobapp.salary %>
</p>

<p>
  <strong>Post date:</strong>
  <%= @jobapp.post_date %>
</p>

<p>
  <strong>Last date to apply:</strong>
  <%= @jobapp.last_date_to_apply %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @jobapp.close_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobapp.status %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @jobapp.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jobapp.description.html_safe %>
</p>

<%= link_to 'Edit', edit_admin_jobapp_path(@jobapp) %> |
<%= link_to 'Back', admin_jobapps_path %>
