<%= form_for @notice, :url => admin_notice_path do |form| %>
    <% if @notice.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@notice.errors.count, "error") %> prohibited
            this notice from being saved:
          </h2>
          <ul>
            <% @notice.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
        <label>Notice Title</label>
        <%= form.text_field :title, class: "form-control" %> 
    </div>
    <div class="form-group m-none">
        <label for="e20">Notice Status</label>
        <%= form.select :status, %w{Published Unpublished}, :prompt => 'Select', required: true, class: 'form-control' %>
    </div>
    <div class="form-group">
        <label>Description</label>
        <%= form.text_area :description, class: "form-control ckeditor" %>
    </div>
    <div class="form-group">
        <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
<% end %>